:root {

}

* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
}

h1 {
    font-size: 200%;
}

h2 {
    font-size: 175%;
}

h3 {
    font-size: 150%;
}

a {
    text-decoration: none;
    color: #dfdce3;
}

main {
    display: flex;
    max-width: 50%;
    flex-direction: column;
}

.mainheader {
    display: flex;  
    justify-content: space-between;
    color: #dfdce3;
    padding: 1%; 
    background-color: #4abdac;
    align-items: center;  
      
}

body header {
    display: flex;
    justify-content: center;
}

#displayproject {
    display: flex;
    flex-wrap: wrap;
    background-color: aqua;
    padding: 7% 100%;
}

.subprojects {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    width: 100vw;
}

.subprojects article {
    display: flex;
    flex: 1 0 50%;
}


