:root {

}

* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
    background-color: #4abdac;
}

h1 {
    font-size: 200%;
}

h2 {
    font-size: 175%;
    
}

h3 {
    font-size: 150%;
    position: absolute;
}

a {
    text-decoration: none;
    color: #dfdce3;
}

main {
    display: flex;
   /* max-width: 50%;*/
    
}

article {
    display: flex;
    
}



.mainheader {
    display: flex;  
    justify-content: space-between;
    color: #dfdce3;
    padding: 1%; 
    background-color: #4abdac;
    align-items: center;  
      
}

#heroimg {
    display: flex;
    height: 500px;
    margin-bottom: 25px;
    background-image: url("./Coding.png");
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    
    
}

.headings {
    margin: 50px 50px;
    max-width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}







.projects {
    display: flex;
    flex-wrap: wrap;
}


.runningOutOfNames {
    display: flex;
    flex-wrap: wrap;
}

.pOne {
    flex-wrap: wrap;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
    position: absolute;
}

.mainImg {
    max-width: 40vw;
}


.subprojects {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    width: 80vw;
}

.subprojects article {
    display: flex;
    
}

.subimg {
    max-height: 200px;
}

.bioGroup {
    display: flex;
}

.bio {
    display: flex;
    border-color: black;
    border-width: 5px;
    border: double;
}

.subBio {
    display: flex;
    align-items: center;
}

.biopic {
    float: right;
    max-width: 200px;
}

footer {
    display: flex;
}

.styleSection{
    display: flex;
    
}


.footer {
    display: flex;
    padding: 20px;
    justify-content: space-evenly;
    align-items: center;
    min-width: 79vw;
    
}

.footerStyle {
    padding: 20px;
    border: solid;
    background-color: #fc4a1a;
}

@media screen and (max-width: 992px) {
    .headings{
        display: none;
    }
    .runningOutOfNames{
        flex-direction: column;
    }
    .subBio{
        flex-direction: column;
    }
    .footer{
        flex-direction: column;
    }
}

@media  screen and (max-width: 360px) {
    .mainheader{
        flex-direction: column;
        
    }
    
}
