:root {

}

* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
}

h1 {
    font-size: 200%;
}

h2 {
    font-size: 175%;
}

h3 {
    font-size: 150%;
}

a {
    text-decoration: none;
    color: black;
}

main {
    display: flex;
    
}

.mainheader {
    display: flex;  
    justify-content: space-between;
    color: black;
    padding: 1%; 
    background-color: slategray;
    align-items: center;  
      
}

.bodyheader {
    display: flex;
    justify-content: center;
}
